# 파일위치: k8s/backend.yaml

# 1. 배포 설정 (Deployment)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      serviceAccountName: backend-admin

      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: backend
        image: ghcr.io/sunshinetoyou/home-server-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        # --- DB 연결 설정 ---
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:postgresql://postgres-db:5432/webntrDB"
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: user
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: password
        # JPA 설정 (초기엔 update로 설정)
        - name: SPRING_JPA_HIBERNATE_DDL_AUTO
          value: "validate"
        # 3. JWT 설정 (Secret에서 가져오도록 변경)
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: jwt-secret
---
# 2. 서비스 설정 (Service)
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: default
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080